.nav-link.active {
  font-weight: bold;
  font-size: 20px;
}

.nav-link {
  font-size: 17px;
}

.nav-link {
  border-bottom: none !important;
  flex-wrap: nowrap;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 2px -2px gray;
  z-index: 1000;
}

.header-area {
  transition: width 2s, top 4s;
}

.header-area.sticky {
  position: fixed;
  background-color: #fff;
  z-index: 1000;
  width: 100%;
  top: -70px;
  transform: translateY(70px);
  transition: transform 500ms ease;
  left: 0;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
}
ul#navigation {
  list-style: none;
  display: flex;
  gap: 30px;
  flex-wrap: nowrap;
}
.box-header-profile {
  background-color: #FAFAFA;
  padding: 0 30px 0 10px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.box-header-profile .header-name-user {
  color: black;
  font-weight: 500;
  font-size: 16px;
  margin-left: 15px;
}

.dropdown-item i {
  margin-right: 0.5rem;
  vertical-align: middle;
}

.navbar-nav .dropdown-menu {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.navbar-nav .nav-link {
  transition: background-color 0.3s ease;
}

.navbar-nav .dropdown-item {
  color: #333;
  padding: 10px 20px;
}

.navbar-nav .dropdown-item:hover {
  background-color: #007bff;
  color: #fff;
}

.dropdown-menu {
  border-radius: 8px;
}

.dropdown-item {
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #007bff;
  color: white;
}

.navbar-nav .dropdown-toggle::after {
  display: none;
}

.auth-buttons .nav-link {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.auth-buttons .nav-link.btn-primary {
  color: white;
  line-height: 20px;
}

.auth-buttons .nav-link.btn-secondary {
  color: white;
  line-height: 20px;
}

@media (max-width: 991px) {
  .auth-buttons .nav-link.btn-primary {
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    font-size: 17px;
    font-weight: normal;
    margin: 10px;
  }

  .auth-buttons .nav-link.btn-secondary {
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    font-size: 17px;
    font-weight: normal;
    margin: 10px;
  }

  .navbar-collapse {
    display: block;
  }

  .navbar-nav .nav-item {
    display: block;
  }

  .navbar-nav .nav-item:hover {
    color: #283139;
    font-size: 18px;
  }

  .navbar-nav {
    width: 100%;
    text-align: center;
  }

  .navbar-nav .nav-item {
    display: block;
    margin: 10px 0;
    background-color: #f2f2f2;
  }

  .auth-buttons .nav-link {
    padding: 10px;
    border-radius: 0;
    font-size: 17px;
  }

  .nav-link.active {
    font-weight: bold;
    font-size: 20px;
  }
}

.icon-notifi {
  border: none;
  background: transparent;
  font-size: 23px;
}
.text-notifi{
  border: none;
  background: transparent;
}

.notification-dropdown {
  position: absolute;
  top: 45px;
  right: -20px;
  width: 450px;
  max-height: 700px;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 10;
  padding: 10px;
}
.triangle-up-wrapper {
  position: absolute;
  top: -16px;
  right: 22px;
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 15px solid #ddd;
  z-index: 9; 
}
.triangle-up{
  width: 0;
  height: 0;
  top: -15px;
  right: 22px;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 15px solid white;
  position: absolute;
  z-index: 10;
}

.notification-dropdown .dropdown-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.notification-list {
  max-height: 500px;
  overflow-y: auto;
}

.notification-item {
  position: relative;
  padding: 8px 25px;
  border-bottom: 1px solid #283139;
}
.notification-item p {
  margin-right: 15px;
  margin-bottom: 0;
  text-align: justify;
}
.notification-item.unread {
  margin-bottom: 5px;
  font-weight: bold;
  background-color: #f0f8ff;
}

.notification-item:last-child {
  border-bottom: none;
}

.status-dot {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 8px; 
  height: 8px; 
  background-color: rgb(217, 63, 63);
  border-radius: 50%; 
}
.count {
  top: -8px;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 20px;
  padding: 3px;
  border-radius: 50%;
  font-size: 16px;
}

